**
!.gitignore
!.gitmodules
!author
!Makefile
!config.mk
!sdl.mk

!eval_tests/
!eval_tests/*.scene

!src/
!src/*.c

!include/
!include/*.h

!libft/
!libft/Makefile
!libft/config.mk
!libft/libft.h
!libft/src/*.c

!frameworks/
!frameworks/**
